table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid black;
  text-align: center;
}

input[type=text] {
    border: 0px;
    text-align: center;
    margin: 2px;
    border-bottom: 2px solid #f00;
    color: #f00;
}

input[type='text']:value{color:#0f0}
